.home {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  bottom: 306px;
  left: -8px;
  z-index: -1;
  display: flex;
  flex-direction: column;
}

.home1 img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 2px;
  left: 0;
  background-position: center;
  background-size: cover;
  z-index: 1;

}

.home2 {
  position: relative;
  z-index: 2;
  padding: 20px;
  color: white;
  display: flex;
  display: inline;
  margin-top: 10px;
  left: -20px;
  

}

.home21 {

  display: inline-block;
  position: relative;
  top: 70px;
  left: 50px;
  max-width: 500px;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-bottom: 20px;

}

.home21 h2 {

  font-size: 30px;
  box-sizing: border-box;
  line-height: 34px;
  margin: 0;
}

.home22 {
  display: flex;
  position: relative;
  top: 10px;
  left: 50px;
  margin-top: 30px;
  margin-left: 4px;
  flex-direction: row;

  margin-bottom: -10px;



}

.home22 span {
  justify-content: center;
  text-align: center;
  background-color: rgb(198, 198, 5);
  padding: 2px;
  font-weight: bold;
  color: black;
  height: 18px;
  font-size: 16px;
  margin-top: 14px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-right: 7px;
}

.home221 {
  display: block;
}

.home22 ul {
  display: block;
  margin-left: 5px;
  margin-right: 3px;
}

.home22 ul li {
  font-weight: 300;
}

.home222 {
  margin-left: 3px;
  margin-right: 4px;
  display: block;
  font-weight: 200;
}

.home223 {
  margin-left: 2px;
  margin-right: 3px;
  display: block;
  font-weight: 300;
}

.home224 {
  margin-left: 3px;
  margin-right: 4px;
  display: block;
  font-weight: 300;
}

.home225 {
  margin-left: 3px;
  margin-right: 4px;
  font-weight: 300;
  display: block;
}

.home3 {
  box-sizing: border-box;
  max-width: 600px;
  word-wrap: break-word;
  display: block;

  position: relative;
  left: 53px;
  max-height: 300px;
}

.home3 p {
  font-weight: 300;
  box-sizing: border-box;
  line-height: 20px;
}

.home4 {
  display: flex;
  flex-direction: row;

  position: relative;
  left: 53px;
  top: 18px;
}

.btn1 {
  border: 1px solid rgb(0, 0, 0);
  height: 40px;
  width: 140px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  font-weight: 400;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 6px;
  margin-right: 20px;
}

.btn1:hover {
  cursor: pointer;
  height: 40px;
  width: 150px;

}

.btn2 {
  width: 140px;
  height: 40px;
  padding-left: 8px;
  padding-top: -7px;
  padding-bottom: 5px;
  padding-right: 8px;
  border: 1px solid rgb(244, 219, 0);
  outline: none;
  border-radius: 6px;
  background-color: rgb(244, 219, 0);
  font-weight: 400;
  color: black;
}

.btn2:hover {
  cursor: pointer;
  height: 40px;
  width: 150px;
}

.btn2 img {
  width: 10px;
  height: 10px;
  border: 2px;
  margin-right: 6px;
  margin-top: 4px;
}